
//Headings, Call-to-actions, Header Navigation
@font-face {
    font-family: Ralway-Italic;
    src: url(../../fonts/header/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Raleway-VariableFont;
    src: url(../../fonts/header/Raleway-VariableFont_wght.ttf);
}

//body
@font-face {
    font-family: OpenSans-Italic;
    src: url(../../fonts/body/OpenSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: OpenSans-VariableFont;
    src: url(../../fonts/body/OpenSans-VariableFont_wght.ttf);
}
